<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · Always at least two">
      <%= assigns[:page_title] || "🐱 matsnet" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={static_path(@conn, "/assets/vendor/fonts/InterWeb/inter.css")}/>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/js/app.js"}>
    </script>
  </head>
  <body class="bg-white antialiased">
  <div class="flex justify-between px-8 py-4 items-center text-slate-700 tracking-tighter">
    <div class="flex items-center gap-10">
      <a href="/" class="flex text-4xl" title="matsnet">
        <span>🐱</span>
        <span class="font-medium">matsnet</span>
      </a>
      <%= if @current_user do %>
      <div>
        <ul class="flex gap-6 tracking-tighter">
          <li>
            <.link
              href={~p"/tasks"}
            >
              Tasks
            </.link>
          </li>
          <li>
            <.link
              href={~p"/projects"}
            >
              Projects
            </.link>
          </li>
          <li>
            <.link
              href={~p"/roles"}
            >
              Roles
            </.link>
          </li>
          <li>
            <.link
              href={~p"/teams"}
            >
              Teams
            </.link>
          </li>
        </ul>
      </div>
      <% end %>
    </div>
  <%= if @current_user do %>
    <div>
      <ul class="flex items-center gap-4 justify-end text-black tracking-tighter">
        <li>
          <.link
            href={~p"/users/settings"}
          >
            Settings
          </.link>
        </li>
        <li>
          <.link
            href={~p"/users/log_out"}
            method="delete"
          >
            Log out
          </.link>
        </li>
      </ul>
    </div>
  <% else %>
    <div>
      <ul class="flex gap-6 tracking-tighter">
        <li>
          <.link
            href={~p"/users/register"}
          >
            Register
          </.link>
        </li>
        <li>
          <.link
            href={~p"/users/log_in"}
          >
            Log in
          </.link>
        </li>
      </ul>
    </div>
    <% end %>
  </div>
  <%= @inner_content %>
  </body>
</html>
