<.flash_group flash={@flash} />
<p class="text-sm mt-2 px-4 font-semibold tracking-tighter">
  We do not sell carpets. If you want carpets, try <a href="https://www.carpetvista.se/" title="Carpetvista" class="underline font-semibold">Carpetvista</a>
</p>