<.flash_group flash={@flash} />
<p class="text-sm mt-2 px-4 font-semibold tracking-tighter">
  We do not sell carpets. If you want carpets, try <a href="https://www.carpetvista.se/" title="Carpetvista" class="underline font-semibold">Carpetvista</a>
</p>

<p><strong>Matssplaining</strong> is the explanation of something by Mats, typically to someone who is not Mats, in a manner regarded as very informative, but with a pessimistic world view.</p>